html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica", sans-serif;
}

.appWindow {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;

}

.toolbar {
    height: 20px;
    background-color: cornflowerblue;
    border-bottom: 1px solid black;
    cursor: default;
}

.closeWindow {
    background-color: red;
    float: right;
    height: 16px;
    padding: 2px;
    border-left: 1px solid black;
    cursor: pointer;
}

.material-icons {
    cursor: pointer;
    margin-left: 10px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.app-container {
    height: 280px;
}

.chat-content {
    background-color: white;
    height: 260px;
    font-size: 10px;
    padding: 0 2px;
}

.chat-form input {
    width: 100%;
    box-sizing: border-box;
}

#window_container {
    position: relative;
}

.right-aligned {
    overflow: hidden;
    list-style-type: none;
    margin-left: auto;
}

.right-aligned li {
    float: left;
}

.menu-bar {
    display: flex;
    height: 50px;
    background-color: cadetblue;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    align-items: center;
    padding: 0 10px;
}

.memory-board {
    display: block;
    margin: 20px auto 0;
}

.memory-brick {
    height: 36px;
    width: 36px;
}

.removed {
    visibility: hidden;
}
