html, body {
    margin: 0;
    padding: 0;
}

body {
    /*background-image: url("../image/background.jpg");*/
    background-color: azure;
    height: 100%;
    font-family: "Helvetica", sans-serif;
}

.app-window {
    border: 1px solid black;
    min-width: 250px;
    min-height: 300px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    border-radius: 5px;

}

.toolbar {
    height: 20px;
    background-color: cornflowerblue;
    border-bottom: 1px solid black;
    cursor: default;
}

.close-window {
    background-color: red;
    float: right;
    height: 16px;
    padding: 2px;
    border-left: 1px solid black;
    cursor: pointer;
}

.material-icons {
    cursor: pointer;
    margin-left: 10px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.chat-lines {
    background-color: white;
    padding: 0 2px;
    display: flex;
    flex-direction: column-reverse;
    height: 280px;
    overflow: scroll;
}

.chat-message {
    width: 100%;
    word-wrap: break-word;
    font-family: "Consolas", monospace;
    font-size: 12px;
}

.chat-line {
    font-family: "Consolas", monospace;
    display: inline;
    margin: 0;
}

.chat-form {
    height: 36px;
}

.chat-form textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    height: 36px;
    font-family: "Consolas", monospace;
    font-size: 12px;
}

#window_container {
    position: relative;
}

.right-aligned {
    overflow: hidden;
    list-style-type: none;
    margin-left: auto;
}

.right-aligned li {
    float: left;
}

.menu-bar {
    display: flex;
    height: 50px;
    background-color: cadetblue;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    align-items: center;
    padding: 0 10px;
}

.board {
    margin: 0 auto;
    min-height: 192px;
}

.memory-brick {
    height: 48px;
    width: 48px;
    margin-bottom: -4px;
}

.removed {
    visibility: hidden;
}

.new-game input {
    width: 20px;
}

.memory {
    padding: 20px;
}

.chat {
    width: 500px;
}

.memory-menu {
    margin: 20px auto 0;
    width: 150px;
    font-size: 12px;
}

.memory-menu span {
    margin-bottom: 10px;
}
