.appWindow {
    border: 1px solid black;
    width: 150px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: burlywood;
    z-index: 10;
}

.toolbar {
    height: 20px;
    background-color: cornflowerblue;
    border-bottom: 1px solid black;
    cursor: move;
}

.closeWindow {
    background-color: red;
    float: right;
    height: 16px;
    padding: 2px;
    border-left: 1px solid black;
}

#window_container {
    position: relative;
}
